body {
    width: 100%;
    height: 800px;
    background: rgb(49,113,146); 
    text-align: center;
    vertical-align: middle;
}
a {
    text-decoration: none;
    font-size: 18px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

input {
    padding: 0;
    border: none;
    outline: none;
}

* {
    /* margin: auto; */
}

.header1 {
    width: 100%;
    height: 40%;
    transition: height 1s;
}

#header img {
    border-radius: 50%;
    /* width: 20%; */
    height: 75%;
    margin-top: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    
}

.header2 {
    width: 100%;
    height: 20%;
}

form {
    
}

#first-q {
    /* display: none; */
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    height: 50px;
    margin: auto;
    background: rgba(186, 241, 245,0.2);
    position: absolute;
    top: 45%;
    left: 20%;
    padding:10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

#in {
    width: 95%;
    height: 3em;
    font-size: 16px;
    border-radius: 25px;
    margin: auto;
    padding-left: 20px;
    box-shadow: inset -3px -3px 5px rgba(0, 0, 0, 0.3);
    /* margin-top: 5px; */
}
#options li {
    width: 100%;
    height: 40px;
    float: left;
    background: rgba(255, 255, 255,1);
    margin-bottom: 3px;
    border-radius: 3px;
    color: black;
    cursor: pointer;
}

#options li:hover {
    background: rgba(87, 166, 206, 1);
}

#options {
    display: none;
    margin-top: 0.5em;
}

#in:focus {
    outline: none;
    border-radius: 25px 25px 0px 0px;
}

#in:focus+#options {
    width: 97%;
    display: block;
    margin: auto;
    /* position: absolute; */
    /* margin-top: 2em; */
}

.ds-content {
    position: absolute;
    background: aquamarine;
    z-index: 1;
}

#option {
    display: none;
}

.next-img {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 8%;
}
#next-btn:hover~.next-img {
    display:none;
    /* display: none; */
}

#next-btn:hover~

input[type=submit] {
    margin: 10px;
    display: block;
    width: 10em;
    height: 5em;
    float: right;
    box-sizing: content-box;
}
